INTEGRATIONS_BASE_URL=https://integrations-gateway.dev.arkion.co
INTEGRATIONS_API_KEY=dQtCugxyanAO0xxxxxxxxBl843KfE_Mh3_bivn8M
INTEGRATIONS_ORIGIN=https://your-origin.example

TENANT_ID=1

# Use PEM values. If you keep these in one line, preserve newlines as \n.
PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhxxxxxdAQpLBxsd41sX\nQQIDAQAB\n-----END PUBLIC KEY-----
PRIVATE_KEY=-----BEGIN PRIVATE KEY-----\nMIIEvAIBADANBgkqhkiG9w0BAQEFAASCBKYwggSiAgxxxxad4aZJbuLIgiOyA==\n-----END PRIVATE KEY-----